<config>
    <modules>
        <Skyglue_Customertab>
            <version>0.1.0</version>
        </Skyglue_Customertab>
    </modules>
    <global>
        <blocks>
            <customertab>
                <class>Skyglue_Customertab_Block</class>
            </customertab>
        </blocks>
        <helpers>
            <customertab>
                <class>Skyglue_Customertab_Helper</class>
            </customertab>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <customertab>
                    <file>skyglue/customertab.xml</file>
                </customertab>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <config>
                            <chilfren>
                                <skyglue_options>
                                    <title>SkyGlue CustomerTab Section</title>
                                </skyglue_options>
                            </chilfren>
                        </config>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>