<?xml version="1.0"?>
<config>
    <tabs>
        <skyconfig translate="label" module="customertab">
            <label>SkyGlue by MageNYC</label>
            <sort_order>900</sort_order>
        </skyconfig>
    </tabs>
    <sections>
        <skyglue_options translate="label" module="customertab">
            <label>Skyglue Settings</label>
            <tab>skyconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>SkyGlue Information</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sgaccount>
                            <label>SkyGlue Account ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sgaccount>
                        <startdate>
                            <label>Start Date</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>skyglue_customertab/adminhtml_system_config_date</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </startdate>
                    </fields>
                </settings>
            </groups>
        </skyglue_options>
    </sections>
</config>